@model IEnumerable<Hethonglaptop_prj2.Models.HoaDon>

<div class="mb-3">
    <a class="btn btn-success" asp-area="" asp-controller="HoaDons" asp-action="Create">
        <i class="fas fa-plus"></i> Thêm đơn hàng
    </a>
</div>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Mã hóa đơn</th>
            <th>Ngày lập</th>
            <th>Khách hàng</th>
            <th>Tổng tiền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hd in Model)
        {
            <tr>
                <td>@hd.MaHd</td>
                <td>@hd.NgayLap.ToString("dd/MM/yyyy")</td>
                <td>@hd.MaKhNavigation?.HoTen</td>
                <td>@String.Format("{0:N0} VND", hd.TongTien)</td>
                <td style="width:160px;" class="text-center align-middle">
                    <div class="d-flex justify-content-center gap-2">
                        <a class="btn btn-primary" asp-area="" asp-controller="HoaDons" asp-action="Details" asp-route-id="@hd.MaHd">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a class="btn btn-warning" asp-area="" asp-controller="HoaDons" asp-action="Edit" asp-route-id="@hd.MaHd">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger" asp-area="" asp-controller="HoaDons" asp-action="Delete" asp-route-id="@hd.MaHd">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
